.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
/content/*
!/content/Campaign
/content/Campaign/*
!/content/Campaign/Prologue - Our Last Hope
/content/Campaign/Prologue - Our Last Hope/GM Only/*